* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background: #0e0d2f ;
}
/* HEADER--SECTION */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Smooth scroll for the entire page */
html {
    scroll-behavior: smooth;
}

/* Underline active nav link */
.navbar a.active {
    color: #0ef;
}

.logo {
    position: relative;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

/* Hamburger Menu Styling */
.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Vertical links on mobile */
        position: absolute;
        top: 60px;
        left: -100%; /* Hide offscreen initially */
        width: 100%;
        background: #051129;
        transition: 0.3s;
    }

    .navbar.active {
        left: 0; /* Show when active */
    }

    .navbar a {
        margin: 15px 0; /* Vertical space between links */
        font-size: 18px;
        text-align: center; /* Center the links */
    }

    .hamburger {
        display: block; /* Show the hamburger on mobile */
    }

    .header {
        padding: 15px 5%; /* Reduce padding for mobile */
    }
}



        /* HOME--SECTION */



.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0e0d2f;
    display: flex;
    align-items: center;
    padding: 70px 10%;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center items horizontally */
}

.home-content {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    flex: 1; /* Allow it to take the available space */
    flex-direction: column; /* Stack text and image */
    align-items: center; /* Center items */
    padding: 20px; /* Add padding for spacing */
}

.text-content {
    max-width: 100%; /* Allow full width on smaller screens */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Add margin to separate from image */
}

.text-content{
    margin-bottom: -30px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content .text-content h1 {
    font-size: 42px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop  1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: #0ef;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.home-sci a:hover {
    color: #0ef;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    margin-bottom: 70PX;
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan , 0 0 200px cyan;
}

.image-content {
    margin-left: auto; /* Push the image to the rightmost side */
    margin-top: 200px; /* Add some top margin if needed */
    margin-bottom: 30px;
    margin: 20px 0; /* Add margin to separate from text */
}

.image-content img {
    width: 100%; /* Make image responsive */
    max-width: 400px; /* Set a max width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: if you want a round image */
    /* Glow effect with mixed purple and sky blue colors */
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.7), 0 0 40px rgba(0, 191, 255, 0.7); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.image-content img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    box-shadow: 0 0 30px rgba(13, 196, 228, 0.9), 0 0 60px rgba(0, 191, 255, 0.9); /* Stronger glow on hover */
}


@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
        text-align: center;
    }

    .image-content {
        margin-top: 50px;
        margin-left: 0; /* Remove the left margin on smaller screens */
    }

    .image-content img {
        width: 700px;
    }
}


    /* ABOUT--SECTION  */



.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.1rem;
    margin-top: 400px;
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
}

.about-img{
    margin: 20px 0; /* Add margin for spacing */
}

.about-img img {
    width: 350px;  /* Same width as image-content img */
    height: 400px; /* Same height as image-content img */
    border-radius: 25%; /* Optional: Apply the same rounded corners if desired */
    /* Glow effect with mixed purple and sky blue colors */
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.7), 0 0 40px rgba(0, 191, 255, 0.7); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
    margin-left: 100px; /* Adjust this value to move the image more to the right */
}

.about-img img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    box-shadow: 0 0 30px rgba(13, 196, 228, 0.9), 0 0 60px rgba(0, 191, 255, 0.9); /* Stronger glow on hover */
}

.about-text {
    text-align: center; /* Center text */
    margin: 0; /* Reset margin */
}

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

@media (max-width: 768px) {
    .home-content {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
    }
    .about {
        flex-direction: column; /* Stack items vertically */
    }
    .about{
        margin-top: 500px;
    }
}

    /* PROJECTS -- SECTION */

.services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
}

.sub-title span {
    color: #0ef;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Adjust spacing between project cards */
    margin-top: 50px;
}

.project-card {
    position: relative;
    text-decoration: none; /* Remove underline from links */
    flex: 0 1 calc((100% - 40px) / 3); /* Three cards per row with gaps */
    background-color: transparent;
    padding: 40px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    transition: background 0.5s, transform 0.5s;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card i {
    font-size: 50px;
    margin-bottom: 30px;
}

.project-card h2 {
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

.hover-effect {
    position: absolute;
    bottom: -75%;
    left: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(45deg, #0ef, #4219f8, #1f92f0);
    background-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 38px;
    transition: bottom 0.4s ease-in-out;
    opacity: 0.9;
    animation: glitters 3s infinite;
}

.project-card:hover .hover-effect {
    bottom: 0; /* On hover, bring it to the bottom */
}

.project-card:hover .hover-effect p {
    font-weight: bold; /* Make the text bold on hover */
}

@media (max-width: 768px) {
    /* Stack cards vertically on smaller screens */
    .project-card {
        flex: 0 1 100%;
    }
}

@keyframes glitters {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

      
    /* Skills Section */
.linear-bars {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linear-bar {
    display: flex;
    align-items: center;
    background: #0e0d2f;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: space-between;
}

.skill-icon img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.skill-name {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    animation: slideLeft 1s ease forwards;
}

.progress-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    animation: slideRight 1s ease forwards;
}

.progress-bar {
    height: 5px;
    background-color: #0ef;
    border-radius: 5px;
    position: relative;
    transition: width 0.8s ease-in-out;
}

/* Adjust the wrapper for mobile responsiveness */
@media (max-width: 768px) {
    .linear-bars {
        width: 95%;
    }

    .linear-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .progress-wrapper {
        width: 100%;
    }
}


    /* CONTACT--SECTION */
    #contact {
        background: #0e0d2f; /* Dark background */
        color: #fff; /* Text color */
        padding: 40px;
        border-radius: 8px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contact-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1000px;
        width: 100%;
        gap: 80px; /* Add space between form and details */
    }
    
    
    .contact-info {
        flex: 1;
        padding: 20px;
        color: #fff;
        background-color: #1f1f3a;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
    
    .contact-info h2 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #00eeff;
    }
    
    .contact-info p {
        font-size: 18px;
        margin: 10px 0;
    }
    
    .contact-info i {
        margin-right: 10px;
        color: #00eeff;
    }
    
    .contact-info a {
        color: #0ef;
        text-decoration: none;
    }
    
    .contact-info a:hover {
        color: #fff;
        text-decoration: none;
    }
    
    .contact-form {
        flex: 1;
        padding: 20px;
    }
    
    .contact-form form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        font-size: 16px;
        margin-bottom: 5px;
        color: #fff;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        margin-bottom: 15px;
        background-color: rgb(153, 181, 183);
        font-size: 16px;
    }
    
    button {
        background: #0ef;
        color: #0e0d2f;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: 200px;
        transition: background 0.3s;
    }
    
    button:hover {
        background: #0e7;
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
        .contact-container {
            flex-direction: column;
            align-items: center;
        }
    
        .contact-info,
        .contact-form {
            max-width: 100%;
        }
    }
    
    @keyframes slideRight {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes slideTop {
        0% {
            opacity: 0;
            transform: translateY(100px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes slideBottom {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
